.Cell {
    border: 1px solid grey;
    width: 10px;    
    font-size: 5px;
    
    
}

.Enabled {
    background-color: white;
}

.Disabled {
    background-color: initial;
}

td:hover {
    background-color: white;
}