.Controls {
    margin-top: 15px;
    padding-top: 15px;
    background-color: rgb(80, 79, 79);
    min-width: 450px;
}

@media only screen and (max-width: 500px) {
    .Controls {
        min-width: 250px;
    }
}